<app-header
    (onSortApply)="applySorting($event)"
    (onTaskSearch)="searchTasks($event)"
    (onTaskAdd)="addTask($event)"
    (onGroupAdd)="addGroup($event)"
></app-header>

<div cdkDropListGroup class="table" cdkDropList (cdkDropListDropped)="dropGroup($event)">
    <app-drag-drop-list
        *ngFor="let group of groups; let i = index"
        [tasks]="group"
        [groupInfo]="groupsInfo[i]"
        (onDeleteTask)="onDelete($event)"
        (onChangeGroupPos)="onChangeGroupPosition($event)"
        (onDeleteGroup)="onDeleteGroup($event)"
        cdkDrag
    ></app-drag-drop-list>
</div>