<div class="example-container">
    <div class="flex jc-sb">
        <div class="status-header" [ngStyle]="{'background-color': groupInfo.headerColor}">{{ groupInfo.groupName }}</div>
        <div class="as-c grid grid-auto-flow-column grid-gap-10">
            <fa-icon
                [icon]="faAngleLeft"
                [ngStyle]="{'color':'grey','cursor':'pointer'}"
                (click)="chageGroupPosition(groupInfo, -1)"
            ></fa-icon>
            <fa-icon
                [icon]="faAngleRight"
                [ngStyle]="{'color':'grey','cursor':'pointer'}"
                (click)="chageGroupPosition(groupInfo, 1)"
            ></fa-icon>
            <fa-icon
                [icon]="faPlus"
                class="grey"
            ></fa-icon>
            <fa-icon
                [icon]="faEllipsisH"
                class="grey"
            ></fa-icon>
            <fa-icon 
                class="fa-times"
                (click)="deleteGroup(groupInfo)"
                [icon]="faTimes"
            ></fa-icon>
        </div>
    </div>
  
    <div
        cdkDropList
        [cdkDropListData]="tasks"
        [attr.groupStatus]="groupInfo.groupStatus"
        class="example-list grid grid-auto-flow-row grid-gap-10"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of tasks" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

            <div class="flex jc-sb" style="width: 100%;">
                <!-- <p><span><fa-icon [icon]=faCircle class="grey"></fa-icon></span> {{item.type}}</p> -->
                <p class="task-status"><span><fa-icon [icon]=faCircle [ngStyle]="{'color': groupInfo.headerColor}"></fa-icon></span> {{item.type}}</p>
                <fa-icon
                    [icon]=faEllipsisH
                    class="grey"
                ></fa-icon>
            </div>
            <div class="flex jc-sb" style="width: 100%;">
                <div>
                    <h3>
                        {{item.text}}
                    </h3>
                    <p><span><fa-icon [icon]=faCalendar></fa-icon></span> {{item.day}}</p>
                </div>
                <div class="as-c">
                    <fa-icon
                        *ngIf="item.reminder"
                        class="fa-bell"
                        [icon]="faBell"
                    ></fa-icon>
                    <fa-icon 
                        class="fa-times"
                        (click)="onDelete(item)"
                        [icon]="faTimes"
                    ></fa-icon>
                </div>
            </div>
            <div>
                <h4 [ngStyle]="{'color': groupInfo.headerColor}">{{ groupInfo.groupName }}</h4>
            </div>
            <div class="flex grid-gap-10 ai-c">
                <p class="task-comment"><span><fa-icon [icon]="faComment" [ngStyle]="{'color':'#46afd1'}"></fa-icon></span> 0 comments</p>
                <p class="task-comment">|</p>
                <p class="task-comment"><span><fa-icon [icon]="faReport" [ngStyle]="{'color':'#ff0000'}"></fa-icon></span> 0 reports</p>
            </div>
        </div>
    </div>

</div>